@import url('https://fonts.googleapis.com/css2?family=Mysoul&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-indie: 'Indie Flower', cursive;
  --font-ruda: 'Ruda', sans-serif;
  --font-satisfy: 'Satisfy', cursive;
  --font-poppins: 'Poppins', sans-serif;
}


.indie {
  font-family: var(--font-indie);
}

.ruda {
  font-family: var(--font-ruda);
}
.satisfy {
  font-family: var(--font-satisfy);
}
.poppins {
  font-family: var(--font-poppins);
}

body {
  font-family: 'Mysoul', sans-serif;
}

.bgColour {
  background-color: #FFFBF2;
}
.fontColour {
  color: #C97E18;
}
.fontColour2 {
  color: #B28D54;
}
.fontColour3 {
  color: #B28D52;
}
.fontColour4 {
  color: #976F37;
}


/* styles/globals.css */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.sideimg{
  background-image: url('/sidebarbgimage.png');
}
